<!DOCTYPE html>
<html>
    <head>
        <title>Gaming Blog</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="ui inverted menu fixed">
            <div class="ui container">
                <a  href="/" class="header item">
                   <i class="game icon"></i>
                    Gaming Blog
                </a>
                <% if(!currentUser){ %>
                    <a href="/login" class="item right">Login</a>
                    <a href="/register" class="item">Sign Up!</a>
                <% }else {    %>
                    <a class="item right">Signed in as <%= currentUser.username %> </a>
                    <a href="/logout" class="item">Logout</a>
                    <a href="/blogs/new" class="item">New Post</a>

                <% } %>
            </div>
        </div>